<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
What you have ordered:
<body>
<div th:each="o : ${customerOrder}">
    Id Of Order:
    <td th:text="${o.id}"></td>
    <div th:each="ci : ${o.cartItems}">
        Product name :
        <td th:text=" ${ci.product.getName()}"></td>
        Amount :
        <td th:text="${ci.amount}"></td>
    </div>

</div>
<a href="/login">Go back to Login </a>
<a href="/"
</body>
</html>